@model DatabaseModel.DesignationTable

@{
    ViewBag.Title = "Oznaczenia > Szczegóły";
}

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa oznaczenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Numer oznaczenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scale)
        </dd>

        <dt>
            ID Użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.DesignationID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-primary" })
</p>

