@model IEnumerable<DatabaseModel.DesignationTable>

@{
    ViewBag.Title = "Ustawienia > Oznaczenia";
}

@Html.ActionLink("Nowy", "Create", null, new { @class = "btn btn-success" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista typów użytkownika</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-hover">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Oznaczenie
                        </th>
                        <th>
                            Numer
                        </th>
                        <th>
                            Akcje
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Scale)
                        </td>
                        <td class="btn-group">
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.DesignationID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.DesignationID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.DesignationID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
