@model DatabaseModel.PurchaseDetailTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseDetailTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTable.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTable.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseTable.PurchaseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseTable.PurchaseID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
